.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    div[class*="chat_"]:not([class*="threadSidebarOpen_"]),
    main[class*="container_"],
    div[class*="chatLayerWrapper_"] {
        section[class*="container_"] {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div[class*="headerBar_"][class*="overlay_"] {
        padding-right: var(--vr-header-snippet-space);

        [class*="tab_"],
        [class*="searchBar_"] {
            -webkit-app-region: no-drag;
        }
    }

    div[class*="videoControls_"] div[class*="subtitleContainer_"] [class*="toolbar_"] {
        -webkit-app-region: no-drag;
    }

    div[class*="video_"][class*="sidebarOpen_"] {
        [class*="videoControls_"] section[class*="container_"] {
            padding-right: var(--space-md);
        }
    }

    div[class*="page_"] {
        &:not(:has(> div[class*="chat_"])) {
            anchor-name: --vr-header-snippet;
        }

        & > div[class*="chat_"] {
            anchor-name: --vr-header-snippet;
        }
    }

    [class*="winButtons_"] {
        display: var(--vr-header-snippet-winbuttons);
    }

    [class*="layers_"] div[class*="base_"] {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div[class*="bar_"] > div[class*="trailing_"] [class*="updateIconForeground_"]) {
            div[class*="chat_"],
            div[class*="subtitleContainer_"],
            main[class*="container_"],
            div[class*="chatLayerWrapper_"] {
                section[class*="container_"] {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            div[class*="videoControls_"] [class*="topControls_"] div[class*="toolbar_"] {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        & > div[class*="content_"] {
            z-index: 0;
        }

        & > div[class*="bar_"] {
            box-sizing: border-box;
            min-height: auto;
            padding: 0;
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);

            & > [class*="leading_"] {
                left: 0;
                position: absolute;
                top: 0;
            }

            & > [class*="title_"] {
                -webkit-app-region: drag;
                bottom: auto;
                font-size: 0;
                height: var(--space-12);
                
                > * {
                    display: none;
                }
            }

            [aria-label="Checkpoint"] {
                display: none;
            }
        }

        &:has(> [class*="notice_"]) {
            & > div[class*="bar_"] {
                top: anchor(top);
            }
        }

        div[class*="trailing_"] {
            anchor-name: --vr-header-buttons-snippet;
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
            padding-right: var(--vr-header-snippet-button-padding);
            position: absolute;
            right: 0;
            top: 0;
        }

        &:has([class*="threadSidebarOpen_"][class*="threadSidebarFloating_"]) > [class*="bar_"] {
            z-index: 0;
        }
    }

    :not(:has(div[class*="page_"] > div[class*="chat_"])) div[class*="base_"] > div[class*="bar_"] {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div[class*="itemsContainer_"] > div[class*="stack_"] {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    section[class*="headerBar_"],
    section[class*="header_"] div[class*="toolbar_"],
    section[class*="header_"] div[class*="children_"],
    :not([class*="videoControls_"]) div[class*="topic_"] {
        -webkit-app-region: no-drag;
    }

    [class*="shop_"] section[class*="headerBar_"] {
        padding-right: var(--vr-header-snippet-space);
        
        [class*="balanceWidgetMenu_"] {
            margin-right: 0;
        }
    }

    [class*="profileThemedContainer_"] [class*="topRow_"] {
        align-items: end;
        padding-bottom: 0;

        [class*="closeAction_"] {
            -webkit-app-region: no-drag;
        }

        [class*="memberNameContainer_"] {
            padding-bottom: 12px;
        }
    }
}
