.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    div[class*="-chat"]:not([class*="-threadSidebarOpen"]),
    main[class*="-container"],
    div[class*="-chatLayerWrapper"] {
        section[class*="-container"] {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div[class*="-headerBar"][class*="-overlay"] {
        padding-right: var(--vr-header-snippet-space);

        [class*="-tab"],
        [class*="-searchBar"] {
            -webkit-app-region: no-drag;
        }
    }

    div[class*="-videoControls"] div[class*="-subtitleContainer"] [class*="-toolbar"] {
        -webkit-app-region: no-drag;
    }

    div[class*="-video"][class*="-sidebarOpen"] {
        [class*="-videoControls"] section[class*="-container"] {
            padding-right: var(--space-md);
        }
    }

    div[class*="-page"] {
        &:not(:has(> div[class*="-chat"])) {
            anchor-name: --vr-header-snippet;
        }

        & > div[class*="-chat"] {
            anchor-name: --vr-header-snippet;
        }
    }

    [class*="-winButtons"] {
        display: var(--vr-header-snippet-winbuttons);
    }

    div[class*="-base"] {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div[class*="-bar"] > div[class*="-trailing"] [class*="-updateIconForeground"]) {
            div[class*="-chat"],
            div[class*="-subtitleContainer"],
            main[class*="-container"],
            div[class*="-chatLayerWrapper"] {
                section[class*="-container"] {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            div[class*="-videoControls"] [class*="-topControls"] div[class*="-toolbar"] {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        & > div[class*="-content"] {
            z-index: 0;
        }

        & > div[class*="-bar"] {
            box-sizing: border-box;
            min-height: auto;
            padding: 0;
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);

            & > [class*="-leading"] {
                left: 0;
                position: absolute;
                top: 0;
            }

            & > [class*="-title"] {
                -webkit-app-region: drag;
                bottom: auto;
                font-size: 0;
                height: var(--space-12);
                
                > * {
                    display: none;
                }
            }

            [aria-label="Checkpoint"] {
                display: none;
            }
        }

        &:has(> [class*="-notice"]) {
            & > div[class*="-bar"] {
                top: anchor(top);
            }
        }

        div[class*="-trailing"] {
            anchor-name: --vr-header-buttons-snippet;
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
            padding-right: var(--vr-header-snippet-button-padding);
            position: absolute;
            right: 0;
            top: 0;
        }

        &:has([class*="-threadSidebarOpen"][class*="-threadSidebarFloating"]) > [class*="-bar"] {
            z-index: 0;
        }
    }

    :not(:has(div[class*="-page"] > div[class*="-chat"])) div[class*="-base"] > div[class*="-bar"] {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div[class*="-itemsContainer"] > div[class*="-stack"] {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    section[class*="-headerBar"],
    section[class*="-header"] div[class*="-toolbar"],
    section[class*="-header"] div[class*="-children"],
    :not([class*="-videoControls"]) div[class*="-topic"] {
        -webkit-app-region: no-drag;
    }

    [class*="-shop"] section[class*="-headerBar"] {
        padding-right: var(--vr-header-snippet-space);
        
        [class*="-balanceWidgetMenu"] {
            margin-right: 0;
        }
    }

    [class*="-profileThemedContainer"] [class*="-topRow"] {
        align-items: end;
        padding-bottom: 0;

        [class*="-closeAction"] {
            -webkit-app-region: no-drag;
        }

        [class*="-memberNameContainer"] {
            padding-bottom: 12px;
        }
    }
}
